@page "/Audio/{DictionaryId:int}/{TypeId:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="test">
    <div class="score">
       <p>Score: @_parameters.Score %</p>
    </div>
    <div class="row">
        <div class="question">
            <span @onclick="() => PlaySound()" id="soundButton" class="oi oi-volume-high"></span>
            <audio id="sound-test" src="@_paramsForTest.AudioUrl" />
        </div>
        <EditForm Model="@SpellingModel" OnValidSubmit="@CheckTest">
            <DataAnnotationsValidator />

            <div class="answers">
                 <InputText class="form-control" style="@StyleForAnswer()"
                 placeholder="Enter translate for word"
                 type="text" disabled="@IsDisabledAnswers"
                 @bind-Value="SpellingModel.AnswerForQuestion"/>
                 <ValidationMessage For="@(() => SpellingModel.AnswerForQuestion)" />

                @if(_paramsCheck != null && _paramsCheck.IsTrueAnswer == false){
                    <div class="alert alert-success" role="alert">
                         Current answer - @_paramsCheck.TrueAnswer !
                    </div>
                }
            </div>
            <div class="buttons">
                @if(IsShowCheck && SpellingModel.AnswerForQuestion.Length >= 1)
                {
                 <button type="submit" class="btn btn-success">
                     Check
                 </button>
                }
                @if(_paramsCheck != null)
                {
                    @if (_paramsCheck.HasNextQuestion)
                    {
                        <button class="btn btn-primary" type="button" @onclick="() => NextQuestion()" >
                            Next
                        </button>
                    }
                    else if (_paramsCheck.NextQuestion == _parameters.CurrentQuestion)
                    {
                       <button class="btn btn-danger" type="button" @onclick="() => FinishTest()" >
                           Finish
                       </button>
                    }
                  
                }
                <p class="count">@_parameters.CurrentQuestion of @_parameters.CountQuestion </p>
            </div>
        </EditForm>
    </div>
</div>