@page "/edit-word/{WordId:int}"
@using EnglishApiClient.Components
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]


@if(_word == null){
    <LoadingIndicator/>
}
else
{
    <div class="row justify-content-md-center">
    <div class="col-md-7 col-sm-12">
    <h2>Edit word</h2>
    <div class="col">
         <EditForm Model="_word" OnValidSubmit="UpdateWord" class="card card-body bg-light">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="anem" class="form-label">Name</label>
                        <div class="input-group">
                            <InputText id="name" placeholder="Enter english word" class="form-control" aria-describedby="button-sound" @bind-Value="_word.Name" />
                            @if(_word.AudioUrl != null)
                            {
                             <button type=button id="button-sound" @onclick="PlaySound" class="btn btn-primary">
                                <span class="icon oi oi-volume-high"></span>
                                <audio id="sound" src="@_word.AudioUrl" />
                             </button>
                            }
                        </div>
                        <ValidationMessage For="@(() => _word.Name)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label for="transcription" class="form-label">Transcription</label>
                        <InputText id="transcription" placeholder="Enter transcription" class="form-control" @bind-Value="_word.Transcription" />
                        <ValidationMessage For="@(() => _word.Transcription)" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 translate-group">
                        <label for="discription" class="form-label">Translates</label>
                          <div class="input-group">
                            <input type="text" class="form-control trans-inp" placeholder="New tranlate" aria-describedby="button-add" @bind="_newTranslate"/>
                            <button type=button  id="button-addon2" @onclick="AddTranslate" class="btn btn-success">
                                <span class="icon  oi oi-plus"></span>
                            </button>
                          </div>
                           <ValidationMessage For="@(() => _word.Translates)" />
                        <div>
                            @foreach (var translate in _word.Translates)
                            {
                            <span @onclick="() => RemoveTranslate(translate.Name)" class="badge rounded-pill text-dark bg-warning translate">
                                 @translate.Name 
                                 <span class="oi oi-x"></span>
                            </span>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 translate-group">
                        <label for="photo" class="form-label">Picture</label>
                        <ImageUpload OnChange="AssignImageUrl" />
                        @if(_word.PictureUrl != null)
                        {
                          <div>
                              <img src="@_word.PictureUrl" alt="" width="70" height="70">
                          </div>
                        }
                        
                        @if(pictures.Count > 0)
                        {
                          <div>
                            <label for="photo" class="form-label">Choose one picture</label>
                            <div>
                                @foreach (var picture in pictures)
                                {
                                    <img @onclick="() => SelectPicture(picture.PreviewUrl)" class="word-img" src="@picture.PreviewUrl" alt="" width="70" height="70">
                                }

                            </div>
                          </div>
                        }
                        else{
                            <h5>Sorry, but this word doesn`t have any pictures</h5>
                        }

                    </div>
                </div>
                <hr class="my-4">
                <div class="word-func">
                    <div class="func-block">
                        <div>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </div>
                        <div>
                            <p>
                                <button type="button" @onclick="DeleteWord" class="btn btn-danger">Delete</button>
                            </p>
                   
                        </div>
                    </div>
                </div>
                
            </EditForm>       
        </div>
    </div>
</div>
    
}
