@page "/dictionary/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

@if (_dictionary == null)
{
    <span><em>Loading...</em></span>
}
else{

    <main class="container">
      <div class="d-flex align-items-center p-3 my-3 bg-success text-white rounded shadow-sm">
        <div class="lh-1">
          <h1 class="h6 mb-0 text-white lh-1">@_dictionary.Name</h1>
          <small>@_dictionary.Description</small>
          <div>
              @foreach(var tag in _dictionary.Tags)
             {
              <span class="badge rounded-pill text-dark bg-warning tag">@tag.Name</span>
             }
          </div>
        </div>
        <div class="dictionary-func">
            <div class="func-block">
                 <div>
                    <p>
                        Start test <span title="Start test"  class="oi oi-task"></span>
                    </p>
                </div>

                @if (_dictionary.UserId.Contains(CurrentUser))
                {
                    <div>
                         <p class="add-word" @onclick="@(() => _navigation.NavigateTo($"add-word/{_dictionary.Id}"))">
                             Add word <span title="Add new word" class="oi oi-plus"></span>
                         </p>
                    </div>
               
                    <div>
                        <span data-bs-toggle="dropdown" aria-expanded="false" class="oi oi-menu"></span>
                          <ul class="dropdown-menu">
                            <li><p class="dropdown-item" @onclick="@(() => _navigation.NavigateTo($"dictionary-update/{_dictionary.Id}"))" >Edit</p></li>
                            <li><p class="dropdown-item" @onclick="DeleteDictionary">Delete</p></li>
                          </ul>
                    </div>
                }
                
            </div>
             <small>Count words: @_dictionary.Words.Count()</small>
        </div>
      </div>

        @if(_dictionary.Words.Count() < 1)
        {
            <div class="alert alert-warning" role="alert">
                This dictionary doesn't have any words.
            </div>
        }
        else
        {
          <form class="col-md-3 col-sm-12 search-word">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
          <div class="words">
              @foreach(var word in _dictionary.Words)
              {
                    
                    <div @onclick="() => RouteEditWord(word.Id)" class="my-3 p-3 bg-body rounded shadow-sm">
                       <div class="d-flex text-muted pt-3">
                       @if (word.PictureUrl != null)
                       {
                           <img class="word-img" src="@word.PictureUrl" alt="" width="32" height="32">
                       }
                       <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark">@word.Name [@word.Transcription]</strong>
                        @foreach(var translate in word.Translates)
                        {
                           <strong class="d-block text-gray-dark">@translate.Name</strong>
                        }
                       </p>
                      @if(word.AudioUrl != null){
                           <div class="word-audio">
                                <span @onclick="() => PlaySound(word.Id)" id="soundButton" class="oi oi-volume-high"></span>
                                <audio id="sound-@word.Id" src="@word.AudioUrl" />
                           </div>
                      }
                     </div>
                </div>
              }
          </div>
        }
    </main>
}


